@using BlazorPathHelper
@using Example.Localization.Resource
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Localize> Loc

@foreach(var menuItem in MenuItems)
{
    <div @key=menuItem.Key class="nav-item ps-3 py-1">
        @* itself link *@
        <NavLink class="nav-link" href="@menuItem.Path"
                 Match="@(menuItem.IsHome ? NavLinkMatch.All : NavLinkMatch.Prefix)">
            <span class="me-2 fs-5 @menuItem.Icon" aria-hidden="true"></span>
            <span title="@Loc[menuItem.Description]">
                @Loc[menuItem.Name]
            </span>
        </NavLink>
        @* children items *@
        <nav class="flex-column">
            <NavMenuItem MenuItems="menuItem.Children"/>
        </nav>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public BlazorPathMenuItem[] MenuItems { get; set; } = [];
}